<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png"/>

        <link rel="stylesheet" type="text/css" href="./css/styles.css" >

    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <p>This site was created by Huy Vo. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="./img/me.jpg" width=500 height=500/>
        
        </div>
        {{>footer}}
        

    </body>
</html>